<!--<ion-nav-view name="dashboard" ng-controller="BaseController">-->
<ion-view title="Dashboard" cache-view="false">
  <!--  <ion-header-bar align-title="left" class="bar bar-header bar-positive">-->
  <div class="bar bar-header bar-positive">
    <h1 class="title">Dashboard</h1>
    <a href="#/userinfo" class="button button-icon icon-right ion-android-person">
      <input class="myinput-positive" type="text" ng-model="loginData.user_name" disabled style="display: inline-block;
    width: 50%; background-color: #387ef5; color: #fff;text-align: right;  padding-right: 5px;font-size: 10px;">
    </a>
  </div>
  <ion-content padding="true" class="has-header">

    <div class="list card">
      <a href="#/trips" class="item item-icon-left">
        <i class="ion-android-bus"></i>
        Trips
      </a>
      <a href="#/vehiclemaintainance" class="item item-icon-left">
        <i class="ion-settings"></i>
       Maintainance
      </a>
    </div>
    <!--
<div class="row">
  <div class="col"><button class="button icon-left ion-android-bus button-positive">Trip Details</button></div>
  <div class="col"><button class="button icon-left ion-settings button-positive">Maintainance</button></div>
</div>

-->


  </ion-content>
</ion-view>

