<ion-view title="Recent Maintanance" style="height:500%">
  <ion-content> 
    <ion-list class="ion-list-view list-inset">
      <ul class="list">
        <li ng-repeat="data in records | filter: search " class="item my-list" ui-sref="updatemaintainance({'record':data})">
          <ion-item>
            <div class="row fullheight">
              <div class="col col-25 col-center">
                <span>{{ data.id }}</span>
              </div>
              <div class="col col-25 col-center">
                <span class="font-page">{{ data.vehicle_no }}</span>
              </div>
              <div class="col col-40 col-center">
                <span class="font-page">{{ data.maintainance_amount }}</span>
              </div>
             <div class="col col-25 col-center">
                <span class="font-page">{{ data.total_km }}</span>
              </div>
              <ion-option-button class="button-assertive icon ion-trash-a " ng-click="deleteRecord('vehicle_maintainance',data.id)"></ion-option-button>
            </div>
          </ion-item>
        </li>
      </ul>
    </ion-list>
  </ion-content>
</ion-view>