<ion-view title="Search Trip">
  <ion-header-bar align-title="left" class="bar bar-header bar-positive">
    <span class="title font-title">
      <a class="button button-icon button-small icon-right ion-android-arrow-back"
         ng-click="$ionicGoBack()"></a>Search Maintainance
   </span>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <form class="list">
      <label class="item item-input" name="Date">
        <span class="input-label">Date</span>
        <!--         <span>{{ searchData.date | date:'yyyy-MM-dd'}}</span><br>-->
        <input type="date" placeholder="Date" ng-model="searchData.date">
      </label>
      <label class="item item-input item-select">
        <div class="input-label static-labels no-padding" style="height:auto;">Vehicle No</div>
        <select class="form-control" ng-options="value.id as  value.id +'  ('+ value.vehicle_no +')'  for value in vehicles" ng-model="searchData.vehicle_no" style="padding-right: 35% !important;"></select>
      </label>
<!--
      <label class="item item-select" name="trip_no">
        <div class="input-label">Trip No</div>
        <select class="form-control" ng-options="data.id as data.trip_name for data in trips" ng-model="searchData.trip_name" style="padding-right: 35% !important;"></select>
      </label>
-->
      <button class="button button-stable button-block  icon-left ion-search" ng-click="searchFun()">Search</button>
    </form>
    <div class="row fullheight">
      <div class="col col-25 col-center">
        <span class="font-page">M ID</span>
      </div>
      <div class="col col-25 col-center">
        <span class="font-page">Bus No</span>
      </div>
      <div class="col col-25 col-center">
        <span class="font-page">M Amount</span>
      </div>
        <div class="col col-30 col-center">
        <span class="font-page">Tot Km</span>
      </div>
<!--
      <div class="col item-text-wrap col-center card-footer " style="text-align:right;padding-right:10px;">
        <span class="font-page">Date</span>
      </div>
-->
    </div>
    <ion-list class="ion-list-view list-inset" show-delete="false" can-swipe="false">
      <ul class="list">
        <li ng-repeat="data in records | filter: search " class="item my-list" ui-sref="updatemaintainance({'record':data})">
          <div class="row fullheight">
            <div class="col col-25 col-center">
              <span>{{ data.id }}</span>
            </div>
            <div class="col col-25 col-center">
              <span class="font-page">{{ data.vehicle_no }}</span>
            </div>
            <div class="col col-25 col-center">
              <span class="font-page">{{ data.maintainance_amount }}</span>
            </div>
            <div class="col col-25 col-center">
              <span class="font-page">{{ data.total_km }}</span>
            </div>
          </div>
        </li>

      </ul>
    </ion-list>
    <ion-nav-view name="maintanance-list"></ion-nav-view>
  </ion-content>
</ion-view>

