<ion-view title="Dashboard">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/newtrip" class="button button-stable button-block  icon-left ion-android-add-circle">New Trip</a>
            <a href="#/searchtrip" class="button button-stable button-block  icon-left ion-search">Search Trip</a>
            <button class="button button-stable button-block ">User</button>
        </div>
        <ion-list></ion-list>
        <div class="button-bar"></div>
        <form class="list"></form>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>