<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="user email id">
                    <span class="input-label">Username</span>
                    <input type="email" placeholder="Email Id">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Passwors">
                </label>
            </ion-list>
            <a href="#/dashboard" class="button button-positive button-block ">Log in</a>
            <a href="#/signup" class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
        <img src="/img/hyZOJTXDQlnw9XqrENsr_transport.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
    </ion-content>
</ion-view>