<ion-view title="Search Trip">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/dashboard" class="button button-stable button-block  icon ion-android-arrow-back"></a>
            <button class="button button-stable button-block ">Search a Trip</button>
            <button class="button button-stable button-block ">2</button>
            <button class="button button-stable button-block ">3</button>
        </div>
        <form class="list">
            <label class="item item-input" name="Date">
                <span class="input-label">Date</span>
                <input type="date" placeholder="Date">
            </label>
            <label class="item item-select" name="Vehicle No">
                <span class="input-label">Vehicle No</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Trip</span>
                <select></select>
            </label>
            <button class="button button-stable button-block  icon-left ion-search">Search</button>
        </form>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>